html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
} 
        body {
            margin: 0;
            font-family:Garamond;
        }
       nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.8);
            padding: 20px;
            text-align: left;
            z-index: 1000;
            font-size: 20px;
        }
       nav a {
            color: white !important;
            text-decoration: none;
            padding: 10px 20px !important;
            display: inline-block !important; 
        }
        nav a:hover{
         background-color: #42393d;
         box-shadow: inset;
        }
    
.icons{
    position: relative;
    left:450px;
    
}
        section {
            position: relative;
            height: 100vh; /* Full screen height */ 
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: bold;
        }
        #home {
             background: #060606; color: white;
             font-family: 'Times New Roman', Times, serif; 
            }
            #p1{
                position: relative;
                top: 200px;
                text-align: left;
                z-index: 1000;
                margin-left:50px;
              
            }
        #projects {
             background: #070707; color: white;   
             height: 250vh;
        }
       
            
        .custom-card {
            border-radius: 12px;
            overflow:scroll;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding:30px;
            border-color:#EFA3C4;
            background-color: transparent;
            border-width:3px ;
            height: 500px;
          
        }
        .card-title{
            color: #ffffff;
        }

        .profile-img{
           position: relative;
           top: 100px;
           left: 290px;
            width: 520px;
            height: 520px;
            border-radius: 100px;
        }
     
       
       .containerp a{
        background: transparent;
            position: relative;
            top: 50px;
            left: 100px;
            font-size: 70px;
            color: #EFA3C4;
            border-color: #EFA3C4 !important;
            border-radius: 0%;
            border-width:3px;
            z-index: 1000;
            padding: 10px;
        }
       